<div class="homepage">
    <div class="main-card">
        <div class="rounder-card">
            <p>Total Investment Balance</p>
            <h3>$ 16,200.00</h3>
        </div>
    </div>

    <div class="px-4">
        <div class="search">
            <input type="text" placeholder="Search" />
            <div class="search-icon">
                <img src="../../assets/img/search.svg" alt="" srcset="">
            </div>
        </div>



        <div class="gift-cards">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <app-gift-card></app-gift-card>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>