@import '/src/styles.scss';

.homepage {
    .main-card {
        position: relative;
        padding-top: 55px;
        background: $default;
        height: 200px;
        display: flex;
        justify-content: center;
        .rounder-card {
            padding: 22px;
            color: $black;
            text-align: center;
            background-color: $secondary;
            height: 100px;
            border-radius: 16px 16px 0px 0px;
            position: absolute;
            bottom: 0;
            width: 90%;
            p {
                font-size: 13px;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}