@import '/src/styles.scss';

.homepage {
    .main-card {
        position: relative;
        padding-top: 55px;
        background: $default;
        height: 200px;
        display: flex;
        justify-content: center;
        .rounder-card {
            padding: 22px;
            color: $black;
            text-align: center;
            background-color: $secondary;
            height: 100px;
            border-radius: 16px 16px 0px 0px;
            position: absolute;
            bottom: 0;
            width: 90%;
            p {
                font-size: 13px;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
    .search {
        position: relative;
        margin-top: 22px;
        input {
            border-radius: 32px;
            border: 1px solid var(--stroke-gray, #B4B3BE);
            height: 42px;
            width: 100%;
            padding-left: 40px;
        }
        .search-icon {
            position: absolute;
            top: 8px;
            left: 23px;
        }
    }
    .gift-cards {
        margin-top: 28px;
        box-shadow: 0px 0px 25px 0px #E2E7FC;
    }
    .investments {
        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 24px;
        }
    }
}