<div class="homepage">
    <div class="main-card">
        <div class="rounder-card">
            <p>Total Investment Balance</p>
            <h3>$ 16,200.00</h3>
        </div>
    </div>

    <div class="px-4">
        <div class="search">
            <input type="text" placeholder="Search" />
            <div class="search-icon">
                <img src="../../assets/img/search.svg" alt="" srcset="">
            </div>
        </div>



        <div class="gift-cards">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)">
                <div ngxSlickItem *ngFor="let gift of gifts" class="slide">
                    <app-gift-card [data]="gift"></app-gift-card>
                </div>
            </ngx-slick-carousel>
        </div>

        <div class="investments">
            <h3>Investments</h3>

            <div class="investment mb-3" *ngFor="let investment of investments">
                <app-investment-card [data]="investment"></app-investment-card>
            </div>
        </div>
    </div>
</div>