<div class="bottom-bar">
    <div class="item">
        <img src="../../../assets/img/bottom-bar/home.svg" alt="home" />
        <p>Home</p>
    </div>
    <div class="item">
        <img src="../../../assets/img/bottom-bar/accounts.svg" alt="accounts" />
        <p>Accounts</p>
    </div>
    <div class="item item-main">
        <img src="../../../assets/img/bottom-bar/main.svg" alt="main" />
    </div>
    <div class="item">
        <img src="../../../assets/img/bottom-bar/cards.svg" alt="cards" />
        <p>Cards</p>
    </div>
    <div class="item">
        <img src="../../../assets/img/bottom-bar/transfers.svg" alt="transfers" />
        <p>Transfers</p>
    </div>
</div>