@import '/src/styles.scss';

.bottom-bar {
    position: fixed; 
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E1DADA;
    padding: 10px;
    z-index: 1;
    background: $white;
    .item {
        text-align: center;
        p {
            font-size: 12px;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 0.18px;
            color: #707793;
        }
    }
    .item-main {
        width: 48px;
        height: 48px;
        background-color: $secondary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -20px;
    }
}